{% extends 'base.html.twig' %}

{% block title %}Quacker power{% endblock %}

{% block body %}
    

    <div class="container">

        <h1>Quacker</h1>
        
        {{ include('quack/_form.html.twig') }}

        <a href="{{ path('quackindex') }}" class="button">Return inna di Quacks</a>

    </div>
{% endblock %}

