{% extends 'base.html.twig' %}

{% block title %}Quacker power{% endblock %}

{% block body %}
    

    <div class="container">
        <h1>Quacker</h1>
        <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Content</th>
                    <th>Created At</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ quack.id }}</td>
                    <td>{{ quack.content }}</td>
                    <td>{{ quack.createdAt|date }}</td>
                </tr>
                </tbody>
        </table>
    </div>
{% endblock %}
