{% extends 'base.html.twig' %}

{% block title %}Hello QuackController!{% endblock %}

{% block body %}

    <div class="container">
        <h1>Quacker</h1>

        {% for quack in quacks %}
        <div class="quackBox">
            <div class="row">
                    <div class="seven columns">
                        {{ quack.id }}
                    </div>
                    <div class="five columns">
                        {{ quack.createdAt|date() }}
                    </div>
            </div>
            <div class="quackText">
                {{ quack.content }}
            </div>
        </div>
        {% endfor %} 
    </div>
{% endblock %}
