<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet">
        <style>
            body{
                background-color: #efefef;
            }

            h1 {
                text-align: center;
                padding-top: 20px;
            }
            .quackText{
                color: #a5a5a5;
            }
            .quackBox {
                background-color: #ffffff;
                border: 4px solid rgba(148,157,164,0.28);
                -webkit-border-radius: 19px 8px 12px 15px;
                border-radius: 20px;
                padding: 10px;
                margin: 10px 100px 10px 100px;
            }
        </style>
        
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>
